version: "3.9"

services:
  api:
    build:
      context: ..
      dockerfile: apps/api/Dockerfile
    environment:
      ENV: docker
      PORT: 8000
    ports:
      - "8000:8000"

  web:
    build:
      context: ..
      dockerfile: apps/web-app/Dockerfile
      args:
        NEXT_PUBLIC_API_BASE_URL: http://api:8000
    environment:
      NEXT_PUBLIC_API_BASE_URL: http://api:8000
    depends_on:
      - api
    ports:
      - "3000:3000"